.footer {
    background: #011D38;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 80%;
    margin: 2rem auto;
}

.contentRow {
    display: flex;
    justify-content: space-between;
    height: 260px;
    padding-top: 2rem;
}

.contentCol:nth-child(1) {
    width: 200px;
}

.title {
    color: #FFF;
    font-family: sans-serif ,'Poppins';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
}

.contentCol p {
    color: #C4C4C4;
    font-family: sans-serif ,'Roboto';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 152.023%; /* 1.14019rem */
    margin-top: 2rem;
}

.services li {
    list-style: none;
    color: #FFF;
    font-family: sans-serif ,'Poppins';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 207.75%; /* 1.55813rem */
}

.support li, .support li .link {
    color: #FFF;
    font-family: sans-serif ,'Poppins';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 207.75%; /* 1.55813rem */
}

.card {
    border-radius: 0.25rem;
    background: rgba(25, 118, 210, 0.59);
    width: 17.125rem;
    height: 9.0625rem;
    flex-shrink: 0;
    padding: 1rem;
}

.cardContent {
    color: #FFF;
    font-family: sans-serif ,'Poppins';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 198.25%; /* 1.23906rem */
    letter-spacing: 0.05625rem;
}