.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
  }
  
  .leftCol {
    width: 40%;
    background: linear-gradient(180deg, #1976D2 0%, rgba(127, 189, 228, 0.60) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
  }

  .leftCol h1 {
    color: #FFF;
    font-family: sans-serif, 'Poppins';
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140.25%; /* 4.2075rem */
    letter-spacing: 0.27rem;
  }

  .leftCol p {
    color: #FFF;
    font-family: sans-serif, 'Poppins';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 98.25%; /* 1.10531rem */
    letter-spacing: 0.10125rem;
    margin: 3rem 0;
  }

  .card {
    width: 100%;
    height: 150px;
    border-radius: 0.25rem;
    background: rgba(25, 118, 210, 0.59);
    padding: .5rem 2rem;
  }

  .card p {
    color: #FFF;
    font-family: sans-serif, 'Poppins';
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08438rem;
  }
  
  .LoginForm {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .container {
    width: 70%;
    height: 90%;
    padding: 1rem 0;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin: 1rem 0 2rem;
    color: #042443;
    text-align: center;
    font-family: sans-serif, 'Roboto';
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .formBox {
    width: 90%;
  }
  
  .inputField {
    margin: 2rem 0;
  }
  
  .forgotPasswordRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .checkbox {
    color: #565151;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
  }
  
  .forgotPassword {
    color: #565151;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: underline;
  }
  
  .forgotPassword:hover {
    color: #1976D2;
  }
  
  @media only screen and (max-width: 680px) {
    .leftCol {
      display: none;
    }
  
    .LoginForm {
      width: 100%;
    }
  
    .container {
      width: 90%;
    }

    .leftCol h1 {
      font-size: 1.5rem;
    }
  }
  